
<style>
.kp_editor_container {
	z-index:1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-top:100px;
}

.kp_filelist_container {
	float: left;
	width:200px;
	padding-left:10px;
	cursor: pointer;
}

.kp_dir_item_container {

}

.kp_file_item_container {
	text-align: left;
	padding-left: 20px;
}

.kp_padding_right_10 {
	padding-right: 10px;
}
</style>

<div ng-controller="editorController" class="kp_editor_container">
	<div>
	
	</div>
	<div style="height:100%;"> 
		<div class="kp_filelist_container">
			<!--已打开文件列表-->
			<div>
				<div>
					<span>已打开</span>
				</div>
				<div ng-repeat="(key, value) in openedPageMap">
					<div class="kp_file_item_container" ng-click="clickItem(value)">
						<span>{{value.text}}</span>
						<span class="pull-right kp_padding_right_10">
							<i ng-click="clickCloseBtn(value, $event)" class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
			<!--用户文件列表-->
			<div style="margin-top:20px">
				<div style="text-align:center">
					<div class="pull-left" ng-click="clickBackwardBtn()">
						<!--<i class="fa fa-arrow-left" aria-hidden="true"></i>-->
						<span>
							{{node.text}}
						</span>
					</div>
					<div class="pull-right">
						<img ng-click="clickNewFile(node)" ng-src='{{imgsPath + "new_file.png"}}'/>
						<img ng-click="clickNewDir(node)" ng-src='{{imgsPath + "new_dir.png"}}'/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div ng-show="isCreateItem">
					<div style="display:inline-block; width:80%; margin:0px; padding:0px;">
						<input type="text" style="width:100%" ng-model="$parent.newItemName"/>
					</div>
					<div style="display:inline; width:20%; margin:0px; padding:0px;">
						<i ng-click="clickCreateItem(node)" class="fa fa-check" aria-hidden="true"></i>
						<i ng-click="clickCancelCreateItem(node)" class="fa fa-times" aria-hidden="true"></i>
					</div>
				</div>
				<div>
					<div ng-repeat="x in node.nodes track by $index">
						<div ng-click="clickItem(x)" class="kp_file_item_container">
							<span>{{x.text}}</span>
							<span class="pull-right kp_padding_right_10">
								<i ng-show="!x.nodes || x.nodes.length == 0" ng-click='clickDeleteItem(node, $index, $event)' class="fa fa-trash-o" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="editor" style="height:100%; margin-left:200px;"></div>
	</div>
</div>
