
<style>
#kp_login_register_container_id:hover{
	color:#777;
}
#kp_login_register_container_id>span:hover{
	color:#333;
}
</style>
<div ng-controller="headerController">
	<div>
		<nav class="navbar navbar-default kp_navbar" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand"><img ng-src='{{imgsPath + "logo.svg"}}' style="height:100%"/></a>
				</div>
				<div class="pull-right">
					<ul class="nav navbar-nav">
						<li ng-hide="isAuth">
							<a id="kp_login_register_container_id">
								<span ng-click="clickLoginBtn()">登陆</span>|
								<span ng-click="clickRegisterBtn()">注册</span>
							</a>
						</li>
						<li ng-show="isAuth" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								逍遥
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a ng-click="clickMyHomeBtn()">我的主页</a></li>
								<li><a ng-click="clickSettingBtn()">设置</a></li>
								<li><a ng-click="clickEditorBtn()">编辑器</a></li>
								<li><a ng-click="clickLogoutBtn()">退出</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>	
		</nav>
	</div>
</div>
