
<style>
.kp_user_setting_sidebar_container ul {
	margin:0px;
	padding:0px;
}

.kp_user_setting_sidebar_container li {
	margin:0px;
	padding:0px;
   	list-style-type:none;
}
.kp_user_setting_container{
}

.kp_user_setting_sidebar_container {
	text-align: left;
}
.kp_user_setting_item_container {
	border:1px solid #ccc;
	padding:10px 15px;
}

.kp_user_setting_item_container_active {
	border-left: 2px solid gray;
	font-weight: bold;
}
.kp_user_setting_item_container:hover {
	cursor: pointer;
	background-color:#ccc;
}
</style>

<div ng-controller="userSettingController" class="container">
	<div class="kp_user_setting_container row">
		<div class="col-sm-2">
			<div class="kp_user_setting_sidebar_container">
				<ul class="kp_forbit_copy">
					<li ng-repeat="x in settingItemList track by $index">
						<div class="kp_user_setting_item_container" 
							ng-class='{"kp_user_setting_item_container_active": selectedSettingItem == x.type}'
							ng-click='clickSettingItem(x)'>
							{{x.name}}
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-10">
			<wikipage content="settingHtml"></wikipage>
		</div>
	</div>
</div>
