@import "../../js/lib/bootstrap/css/bootstrap.min.css";
@import "../../js/lib/cropper/cropper.min.css";

/*@import  "editor.css";*/

a:hover{
    cursor: pointer;
}

.kp_forbit_copy {
	-moz-user-select: none;  
	-webkit-user-select: none;  
	-ms-user-select: none;
	user-select: none;
}

.kp_vertical_box {
	display: flex;
	flex-direction:column;
}

.kp_horizontal_box {
	display: flex;
	flex-direction:row;
}

