
<style>
.kp_dir_item_container {
	position:relative;
}

.kp_dir_item_text {
	width:100%;
	text-overflow:ellipsis;
	overflow-x: hidden;
}

.kp_dir_item_btn_group {
	position:absolute;
	top: 0px;
	right: 0px;
}

.kp_file_item_container {
	text-align: left;
	padding-left: 20px;
	white-space: nowrap;
	position: relative;
}

.kp_file_item_text {
	width:100%;
	text-overflow:ellipsis;
	overflow-x: hidden;
}

.kp_file_item_btn_group {
	display:none;
}

.kp_file_item_container:hover{
	background-color:#E6E6E6;
}

.kp_file_item_container:hover .kp_file_item_btn_group {
	display:inline;
	margin-right:10px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.kp_file_item_container:hover .kp_file_item_text {
	padding-right:60px;
}
.kp_input_text {
	border:none;
	border-bottom: 1px solid #A7A7A7;
	font-size: 16px;
	margin-bottom:10px;
}

.kp_input_text:focus {
	outline:none;
	border-bottom-color: #3977AD;
}
</style>

<div ng-controller="editorFileController">
	<div class="kp_forbit_copy">
		<div ng-click="clickOpenedListBtn()">
			<i ng-class='showOpenedList ? "fa fa-chevron-down" : "fa fa-chevron-right"' aria-hidden="true"></i>
			<span>已打开</span>
		</div>
		<div ng-show="showOpenedList" ng-repeat="(k, x) in openedPageMap">
			<div class="kp_file_item_container" ng-click="clickItem(x)" ng-style='x.path == curPage.path && {"background-color":"#ccc"}'>
				<div class="kp_file_item_text" data-toggle="tooltip" title="{{x.url}}" >
					<i ng-show="x.isConflict" ng-click="clickFixedConflict(x, $event)" class="fa fa-warning" aria-hidden="true" data-toggle="tooltip" title="冲突"></i>
					<i ng-hide="x.isConflict" ng-class='x.isRefresh ? "fa fa-refresh fa-spin" : (x.isModify ? "fa fa-pencil-square-o" : "fa fa-file-o")' aria-hidden="true"></i>
					<span>{{x.text}}</span>
				</div>
				<div class="kp_file_item_btn_group">
					<i ng-click="clickAccessPage(x, $event)" class="fa fa-external-link" aria-hidden="true" data-toggle="tooltip" title="打开"></i>
					<i ng-click="clickGitBtn(x, $event)" class="fa fa-git" aria-hidden="true" data-toggle="tooltip" title="git"></i>
					<i ng-click="clickCloseBtn(x, $event)" class="fa fa-times" aria-hidden="true" data-toggle="tooltip" title="关闭"></i>
				</div>
			</div>
		</div>
	</div>

	<!--<div class="clearfix"></div>-->
	<!--用户文件列表-->
	<div style="margin-top:20px">
		<!--<div class="clearfix"></div>-->
		<div class="kp_dir_item_container">
			<div class="kp_dir_item_text" ng-click="clickBackwardBtn()">
				<i ng-class='node.isRootNode ? (node.showSubNode ? "fa fa-chevron-down" : "fa fa-chevron-right") : "fa fa-folder-o"' aria-hidden="true"></i>
				<span>
					{{node.text}}
				</span>
			</div>
			<div class="kp_dir_item_btn_group">
				<img ng-click='clickNewFile(node, "blob")' ng-src='{{imgsPath + "new_file.png"}}'/>
				<img ng-click='clickNewFile(node, "tree")' ng-src='{{imgsPath + "new_dir.png"}}'/>
			</div>
		</div>
		<!--<div class="clearfix"></div>-->
		<div ng-show="isCreateItem">
			<input id="fileInputId" class="kp_input_text" type="text" ng-model="$parent.newItemName"/>
		</div>
		<div ng-show="!node.isRootNode || node.showSubNode">
			<div ng-repeat="x in node.nodes track by $index">
				<div ng-click="clickItem(x)" class="kp_file_item_container" ng-style='x.path == curPage.path && {"background-color":"#ccc"}'>
					<div class="kp_file_item_text" data-toggle="tooltip" title="{{x.url}}">
						<i ng-show="x.isConflict" ng-click="clickFixedConflict(x, $event)" ng-show='x.type != "tree"' class="fa fa-warning" aria-hidden="true" data-toggle="tooltip" title="冲突"></i>
						<i ng-hide="x.isConflict" ng-class='x.type == "tree" ? "fa fa-folder-o" : (x.isRefresh ? "fa fa-refresh fa-spin" : (x.isModify ? "fa fa-pencil-square-o" : "fa fa-file-o"))' aria-hidden="true"></i>
						<span>{{x.text}}</span>
					</div>
					<div class="kp_file_item_btn_group">
						<i ng-click="clickAccessPage(x, $event)" ng-show='x.type != "tree"' class="fa fa-external-link" aria-hidden="true" data-toggle="tooltip" title="打开"></i>
						<i ng-click="clickGitBtn(x, $event)" ng-hide='x.type == "tree"' class="fa fa-git" aria-hidden="true" data-toggle="tooltip" title="git"></i>
						<i ng-show="!x.nodes || x.nodes.length == 0" ng-click='clickDeleteItem(node, $index, $event)' class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="删除"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
