
<style>
.kp_input_file {
    position: relative;
    display: inline-block;
    background: #fefefe;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
	width:100%;
	text-align:center;
}
.kp_input_file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.kp_input_file:hover {
    background: #f0f0f0;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.kp_portrait_container {
	margin: 0px auto;
	width: 200px;
}
.kp_portrait_comfirm_container {
	display:flex;
}
.kp_portrait_comfirm_container>button {
	flex-grow:1;
}
#portraitId {
	max-width:200px;
	max-height:200px;
	width:200px;
	height:200px;
}
textarea {
	resize:none;
}
</style>
<div ng-controller="profileController">
	<notify type="msgType" content="msgContent"></notify>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#profileBaseSettingId" data-toggle="tab">基本设置</a>
		</li>
		<li>
			<a href="#profileModifyPassword" data-toggle="tab">修改密码</a>
		</li>
		<li>
			<a href="#profileAccountBind" data-toggle="tab">账号绑定</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="profileBaseSettingId" class="tab-pane fade in active">
			<div class="row">
				<div class="col-xs-8">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-xs-2 control-label">昵称:</label>
							<div class="col-xs-8">
								<input ng-model="user.nickname" type="text" class="form-control" placeholder="昵称">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">性别:</label>
							<div class="col-xs-8">
								<select class="form-control" ng-model="user.sex" ng-options="sex.value as sex.name for sex in [{'value':'M', 'name':'男'}, {'value':'F', 'name':'女'}]"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">简介:</label>
							<div class="col-xs-8">
								<textarea ng-model="user.desc" rows="4" maxlength="1024" class="form-control" placeholder="成员名"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-offset-2 col-xs-8">
								<button class="btn btn-primary" ng-click="clickSubmitUserInfoBtn()">提交</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-xs-4">
					<div class="kp_portrait_container">
						<img id="portraitId" src="{{portrait || user.portrait}}"/>
						<div ng-show="showPortraitConfirmBtn" class="kp_portrait_comfirm_container">
							<button ng-click="clickPortraitYesBtn()" class="btn btn-default">确定</button>
							<button ng-click="clickPortraitNoBtn()" class="btn btn-default">取消</button>
						</div>
						<div ng-hide="showPortraitConfirmBtn">
							<a href="javascript:void(0);" class="kp_input_file"><input type="file" onchange="angular.element(this).scope().fileUpload(this.files[0])"/>修改头像</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="profileModifyPassword">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-xs-3 control-label">旧密码:</label>
					<div class="col-xs-6">
						<input ng-model="pwd.oldpassword" type="password" class="form-control" placeholder="旧密码">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">新密码:</label>
					<div class="col-xs-6">
						<input ng-model="pwd.newpassword" type="password" class="form-control" placeholder="新密码">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">确认新密码:</label>
					<div class="col-xs-6">
						<input ng-model="pwd.newpassword2" type="password" class="form-control" placeholder="新密码">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-6">
						<button class="btn btn-primary" ng-click="clickSubmitPasswordBtn()">提交</button>
					</div>
				</div>
			</form>
		</div>
		<div class="tab-pane fade" id="profileAccountBind">
		</div>
	</div>
</div>
