
<style>
.kp_editor_container {
	z-index:1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.kp_toolbar_container {
	height:100px;
	display:flex;
	align-items:center;
}
.kp_filelist_container {
	float: left;
	width:200px;
	padding-left:10px;
	cursor: pointer;
	height:100%;
	position: relative;
}
.kp_cmeditor_container {
	height:100%;
	margin-left:200px;
}
.kp_dir_item_container {

}

.kp_file_item_container {
	text-align: left;
	padding-left: 20px;
}

.kp_file_item_btn_group {
	display:none;
}

.kp_file_item_container:hover{
	background-color:#E6E6E6;
}

.kp_file_item_container:hover .kp_file_item_btn_group {
	display:inline;
}

.kp_padding_right_10 {
	padding-right: 10px;
}
.kp_view_mode {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:30px;
}

.kp_input_text {
	border:none;
	border-bottom: 1px solid #A7A7A7;
	font-size: 16px;
	margin-bottom:10px;
}

.kp_input_text:focus {
	outline:none;
	border-bottom-color: #3977AD;
}
</style>

<div ng-controller="editorController" class="kp_editor_container">
	<!--<div class="kp_toolbar_container">-->
	<!--</div>-->
	<div style="height:100%;"> 
		<div class="kp_filelist_container">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#filelistId" data-toggle="tab">文件</a>
				</li>
				<li>
					<a href="#moduleId" data-toggle="tab">模块</a>
				</li>
				<li>
					<a href="#helperId" data-toggle="tab">帮助</a>
				</li>
			</ul>
			<!--已打开文件列表-->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="filelistId">
					<div>
						<div>
							<span>已打开</span>
						</div>
						<div ng-repeat="(k, x) in openedPageMap">
							<div class="kp_file_item_container" ng-click="clickItem(x)" ng-style='x.path == curPage.path && {"background-color":"#ccc"}'>
								<span data-toggle="tooltip" title="{{x.url}}" >
									<i ng-class='x.isModify ? "fa fa-pencil-square-o" : "fa fa-file-o"' aria-hidden="true"></i>
									<span>{{x.text}}</span>
								</span>
								<span class="pull-right kp_padding_right_10 kp_file_item_btn_group">
									<i ng-show="x.isConflict" ng-click="clickFixedConflict(x, $event)" class="fa fa-warning" aria-hidden="true" data-toggle="tooltip" title="冲突"></i>
									<i ng-click="clickAccessPage(x, $event)" class="fa fa-external-link" aria-hidden="true" data-toggle="tooltip" title="打开"></i>
									<i ng-click="clickGitBtn(x, $event)" class="fa fa-git" aria-hidden="true" data-toggle="tooltip" title="git"></i>
									<i ng-click="clickCloseBtn(x, $event)" class="fa fa-times" aria-hidden="true" data-toggle="tooltip" title="关闭"></i>
								</span>
							</div>
						</div>
					</div>
					<!--用户文件列表-->
					<div style="margin-top:20px">
						<div style="text-align:center">
							<div class="pull-left" ng-click="clickBackwardBtn()">
								<i ng-class='node.isRootNode ? "fa fa-globe" : "fa fa-folder-o"' aria-hidden="true"></i>
								<span>
									{{node.text}}
								</span>
							</div>
							<div class="pull-right">
								<img ng-click="clickNewFile(node)" ng-src='{{imgsPath + "new_file.png"}}'/>
								<img ng-click="clickNewDir(node)" ng-src='{{imgsPath + "new_dir.png"}}'/>
							</div>
						</div>
						<div class="clearfix"></div>
						<div ng-show="isCreateItem">
							<div style="display:inline-block; width:80%; margin:0px; padding:0px;">
								<input class="kp_input_text" type="text" style="width:100%" ng-model="$parent.newItemName"/>
							</div>
							<div style="display:inline; width:20%; margin:0px; padding:0px;">
								<i ng-click="clickCreateItem(node)" class="fa fa-check" aria-hidden="true"></i>
								<i ng-click="clickCancelCreateItem(node)" class="fa fa-times" aria-hidden="true"></i>
							</div>
						</div>
						<div>
							<div ng-repeat="x in node.nodes track by $index">
								<div ng-click="clickItem(x)" class="kp_file_item_container" ng-style='x.path == curPage.path && {"background-color":"#ccc"}'>
									<span data-toggle="tooltip" title="{{x.url}}">
										<i ng-class='x.type == "tree" ? "fa fa-folder-o" : (x.isModify ? "fa fa-pencil-square-o" :"fa fa-file-o")' aria-hidden="true"></i>
										<span>{{x.text}}</span>
									</span>
									<span class="pull-right kp_padding_right_10 kp_file_item_btn_group">
										<i ng-show="x.isConflict" ng-click="clickFixedConflict(x, $event)" ng-show='x.type != "tree"' class="fa fa-warning" aria-hidden="true" data-toggle="tooltip" title="冲突"></i>
										<i ng-click="clickAccessPage(x, $event)" ng-show='x.type != "tree"' class="fa fa-external-link" aria-hidden="true" data-toggle="tooltip" title="打开"></i>
										<i ng-click="clickGitBtn(x, $event)" ng-hide='x.type == "tree"' class="fa fa-git" aria-hidden="true" data-toggle="tooltip" title="git"></i>
										<i ng-show="!x.nodes || x.nodes.length == 0" ng-click='clickDeleteItem(node, $index, $event)' class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="删除"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="moduleId">
					<wikipage data-content="moduleContent" data-content-url="moduleContentUrl"></wikipage>
				</div>
				<div class="tab-pane fade" id="helperId">
					帮助文档
				</div>
			</div>
			<div class="kp_view_mode">
				<div style="display:flex; justify-content:space-between;">
					<div class="btn-group dropup">
						<button class="btn-sm btn-md btn btn-default dropdown-toggle" data-toggle="dropdown">
							逍遥
							<span class="caret"></span>
						</button>	
						<ul class="dropdown-menu" role="menu">
							<li>
								<a ng-click="clickMyHomeBtn()">我的主页</a>
							</li>
							<li>
								<a ng-click="clickSettingBtn()">设置</a>
							</li>
							<!--<li class="divider"></li>-->
							<!--<li>-->
								<!--<a ng-click="clickLogoutBtn()">设置</a>-->
							<!--</li>-->
						</ul>
					</div>
					<div class="btn-group">
						<button ng-click="clickViewModeCode()" class="btn-sm btn-md btn btn-default">代码</button>
						<button ng-click="clickViewModeCodePreview()" class="btn-sm btn-md btn btn-default">拆分</button>
						<button ng-click="clickViewModePreview()" class="btn-sm btn-md btn btn-default">预览</button>
					</div>	
				</div>
			</div>
		</div>
		<div id="editor" class="kp_cmeditor_container"></div>
	</div>
</div>
