
<style>
.kp_module_editor_wiki_block_container {
	height:140px;
	padding:20px;
}
.kp_style_selected {
	border: 2px solid blue;
}

.kp_nav_item_container {

}

.kp_nav_item_container .kp_active {
	background-color: #f2f2f2;
}

.kp_nav_item {
	display: inline-block;
	margin: 0px;
}
</style>

<div ng-controller="editorModuleEditorController">
	<div class="kp_nav_item_container">
		<div ng-click="clickNavItem('attrs', $event)" class="kp_nav_item kp_active">属性</div>
		<div ng-click="clickNavItem('styles', $event)"class="kp_nav_item">样式</div>
	</div>
	<div ng-if='params.showType == "attrs"'>
		<div ng-repeat="data in params.datas track by $index">
			<div ng-if='data.$data.type == "text"'>
				<div>{{data.$data.name}}</div>
				<div>
					<input ng-model="data.text" ng-change="change()"/>
				</div>
			</div>
			<!--<div ng-if='data.type == "link"'>-->
				<!--<div>{{data.name}}</div>-->
				<!--<div>-->
					<!--<input ng-model="data.text"/>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>

	<div ng-if='params.showType == "styles"'>
		<div ng-repeat="$kp_block in params.styles track by $index">
			<div class="kp_module_editor_wiki_block_container" ng-click="clickSelectStyle($kp_block)" 
			  ng-class="getStyleActiveClass($kp_block)">
				<wiki-block></wiki-block>
			</div>
		</div>
	</div>
</div>
