
<style>
.kp_file_item_container {
	text-align: left;
	white-space: nowrap;
	position: relative;
}

.kp_file_item_text {
	width:100%;
	text-overflow:ellipsis;
	overflow-x: hidden;
}

.kp_file_item_btn_group {
	display:none;
}

.kp_file_item_container:hover{
	background-color:#E6E6E6;
}

.kp_file_item_container:hover .kp_file_item_btn_group {
	display:inline;
	margin-right:10px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.kp_file_item_container:hover .kp_file_item_text {
	padding-right:60px;
}
.kp_input_text {
	border:none;
	border-bottom: 1px solid #A7A7A7;
	font-size: 16px;
	margin-bottom:10px;
}

.kp_input_text:focus {
	outline:none;
	border-bottom-color: #3977AD;
}
</style>

<div ng-controller="editorFileController">
	<div class="kp_forbit_copy">
		<div ng-click="clickOpenedListBtn()">
			<i ng-class='showOpenedList ? "fa fa-chevron-down" : "fa fa-chevron-right"' aria-hidden="true"></i>
			<span>已打开</span>
		</div>
		<div ng-show="showOpenedList" ng-repeat="(k, x) in openedPageMap">
			<treenode data-node="x" data-node-html="fileNodeHtml" data-level="1"></treenode>
		</div>
	</div>

	<!--<div class="clearfix"></div>-->
	<!--用户文件列表-->
	<div style="margin-top:20px">
		<treenode data-node="node" data-node-html="fileNodeHtml"></treenode>
	</div>

</div>
