
<style>
.previewContainer {
	width:1400px;
	float:left;
	height:100%;
}

.editorContainer {
	margin-left:1400px;
	height:100%;
}

#modeditorarea {
	margin:20px auto;
	width:1200px;
	height:600px;
	
	border:1px solid #ccc;
}

#modeditorarea:hover {
	cursor:pointer;
}

.full-screen {
	position:absolute;
	top:50px;
	bottom:0px;
	right:0px;
	left:0px;
}

.attrInputContainer>input{
	border:none;
	border-bottom: 1px solid #A7A7A7;
	font-size: 16px;
}
.attrInputContainer>input:focus {
	outline:none;
	border-bottom-color: #3977AD;
}

</style>

<div ng-controller="modeditorController" class="full-screen">
	<div class="previewContainer">
		<div id="modeditorarea">
		</div>
	</div>
	<div class="editorContainer">
		<div>
			<h4>当前标签</h4>
			<div>
				<div>{{tag.type}}</div>
				<div ng-repeat="x in tag.children track by $index" style="padding-left:20px">
					{{x.type}}
				</div>
			</div>
		</div>
		<div>
			<h4>属性列表</h4>
			<div class="attrInputContainer">
				<input type="text" placeholder="背景色[background-color]" ng-model="style['background-color']"/>
				<span>背景色</span>
			</div>
			<div class="attrInputContainer">
				<input type="text" placeholder="高度[height]" ng-model="style['height']"/>
				<span>高度</span>
			</div>
			<div class="attrInputContainer">
				<input type="text" placeholder="宽度[width]" ng-model="style['width']"/>
				<span>宽度</span>
			</div>
		</div>
	</div>
</div>
