
<style>
.kp_left_side_contianer {
	padding: 20px 40px;
}

.kp_user_portrait {
	max-width: 100%;
}
</style>
<div ng-controller="userController" class="container">
	<div class="row">
		<div class="col-xs-3 kp_left_side_contianer">
			<div>
				<img class="kp_user_portrait" ng-src="{{userinfo.portrait}}"/>
			</div>

			<h4>{{userinfo.nickname}}</h4>
			<h5>{{userinfo.username}}</h5>

			<p>{{userinfo.desc}}</p>
		</div>
		<div class="col-xs-9">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#lastestRenewId" ng-click="clickLatestRenewBtn()" data-toggle="tab">最近更新</a>
				</li>
				<li>
					<a href="#visitHistoryId" ng-click="clickVisitHistoryBtn()" data-toggle="tab">访问历史</a>
				</li>
				<li>
					<a href="#myFavoriteId" ng-click="clickMyFavoriteBtn()" data-toggle="tab">我的收藏</a>
				</li>
				<li>
					<a href="#myFollowId" ng-click="clickMyFollowsBtn()" data-toggle="tab">我的关注</a>
				</li>
				<li>
					<a href="#myFansId" ng-click="clickMyFansBtn()" data-toggle="tab">我的粉丝</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="lastestRenewId">
					<div ng-repeat="x in latestRenewList track by $index">
						<a href='{{"/" + x.url}}' target="_blank">
							<span style="font-size:16px">{{x.pagename}}</span>
							<span>--</span>
							<span>{{"/" + x.url}}</span>
						</a>
					</div>
				</div>
				<div class="tab-pane fade" id="visitHistoryId"> 
					<div ng-repeat="x in visitHistoryList track by $index">
						<a href="{{x.url}}">
							<label>url:</label>
							<span>{{x.url}}</span>
						</a>
						<a>
							<label>所属用户:</label>
							<span>{{x.username}}</span>
						</a>
					</div>
				</div>
				<div class="tab-pane fade" id="myFavoriteId">
					<!--浏览器的收藏功能实现-->
					<div class="row">
						<div class="col-xs-3">
							 分类树	
						</div>
						<div class="col-xs-9">
							<div ng-repeat="x in favoriteList track by $index">
								{{x.url}}
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="myFollowId"> 
					<div ng-repeat="x in followsList track by $index">
						<div>
							<img ng-src="{{x.portrait}}" style="width:75px; height:75px"/>
							<div>
								<span>{{x.nickname}}</span>
								<span>{{x.username}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="myFansId"> 
					<div ng-repeat="x in fansList track by $index">
						<div>
							<img ng-src="{{x.fans_portrait}}" style="width:75px; height:75px"/>
							<div>
								<span>{{x.fans_nickname}}</span>
								<span>{{x.fans_username}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
